@model scrm_dev_mvc.Models.ViewModels.LoginViewModel
@{
    var returnUrl = ViewData["ReturnUrl"] as string ?? Url.Content("~/");
}
@if (User?.Identity?.IsAuthenticated == true)
{
    <form asp-area="" asp-controller="Auth" asp-action="Logout" method="post" id="logoutForm" class="form-inline">
        <button type="submit" class="fw-semibold nav-color p-2 login-button">Logout</button>
    </form>
}
else
{
    <a asp-area="" asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@returnUrl" class="fw-semibold nav-color p-2 login-button">Login</a>
    <a asp-area="" asp-controller="Auth" asp-action="Register" asp-route-returnUrl="@returnUrl" class="fw-semibold nav-color p-2 login-button">Register</a>
}
