@model IEnumerable<scrm_dev_mvc.Models.Organization>

@using System.Security.Claims

@{
    // Get current user's role id (assuming stored as a claim)
    var roleName = User.FindFirstValue(ClaimTypes.Role);
    //int.TryParse(roleIdClaim, out var roleId);
}


    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var org in Model)
                {
                    <tr>
                        <td>@org.Name</td>
                        <td>@org.Address</td>
                        <td>@org.PhoneNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
